@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body {
    font-family: "Amaranth", sans-serif;
    font-weight: 400;
    font-style: italic;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
body h2{
    font-size: 400%;
    color: #5b0c65;
}

header {
    background-color: #cd96d4;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 500%;
}

h2 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.card {
    
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    /* margin: 50px; */
    margin-right: 80%;
    width: 400px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 40px;
    
    
}

.card h3 {
    color: #200224;
}

.card button {
    background-color: #bc94c7;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}

.card button:hover {
    background-color: #b5265d;
}
footer {
    background-color: #f0f0f0; 
    padding: 10px; 
    text-align: center; 
}
  
footer h2 {
    color: #333; 
    font-size: 1.5em; 
    margin: 0; 
}
/* .buy {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: #333;
}

.buy h1 {
    color: #333;
}

.buy button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy button:hover {
    background-color: #45a049;
} */


.buy {
    text-align: center;
    padding: 20px;
    background-color: #cd96d4;
    align-items: center;
}

.buy h1 {
    color: #333;
}

.buy button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #db6e9d;
    color: rgb(249, 242, 242);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy button:hover {
    background-color: #161516;
}
